---
title: N-Dimensional Cube
description: Demo in Three.js showing the projection of a higher dimensional cube
litcoffeeFile: cube.js.litcoffee
referencesOthers: true
---

extends ../../../layouts/main

- f = 
- if (!f.rendered) { f.render(); }
- cubesrc = f.contentRendered

block append scripts
  script(src="/js/three.js")
  script(src="/js/numeric-1.2.6.js")
  script(src="/js/underscore.js")
  script(src="/js/TrackballControls.js")
  script(src="cube.js")


block content
  #scene-container
  input#updatecheck(type="checkbox", checked="True")
  | animate
  //input#dimensioninput(type="number", min=3, max=8) 
  //| dimension
  #axis-container
  //button#refreshbutton refresh scene
  each section in getLitcoffeeData()
    .docs!= section.docsHtml
    pre
      code!= section.codeHtml
