!!!
//!= getBlock('scripts').toHTML()

html
  head
    title Phil Reinhold
    link(href="/main.css", rel="stylesheet", type="text/css")
    link(href="/ir_black.css", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Oswald|Roboto:300|Inconsolata", rel="stylesheet" type="text/css")

    block scripts
      script(src="/js/jquery-2.0.3.js")

    script(type='text/javascript').
      var resize_bar = function() {
        var height = $('#content').height();
        if (height > $('#navbar').height()) {
          $('#navbar').height(height);
        }
      }
        
      $(document).ready(resize_bar);
      $('#content').resize(resize_bar);
  body
    #navbar
      h1 Phil Reinhold
      .navitem: a(href="/#about") about
      .navitem: a(href="/#projects") projects
      .navitem: a(href="/#notes") notes
      .navitem: a(href="https://github.com/PhilReinhold") github
    #content
      block content
