!!!
//!= getBlock('scripts').toHTML()

html
  head
    title Phil Reinhold
    link(rel="stylesheet", type="text/css", href="/main.css")
    block scripts
  body
    h1 Phil Reinhold
    #navbar
      a.navitem(href="/#about") about
      a.navitem(href="/#projects") projects
      a.navitem(href="/#notes") notes
      a.navitem(href="https://github.com/PhilReinhold") github
    #content
      block content
